<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="box">
        <form action="/login" method="post">
            <h2>LOG IN</h2>
            <div class="inputBox">
                <input type="text" required="required" name="name">
                <span>Userame</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/signup">Signup</a>
            </div>
            <input type="submit" />
        </form>
    </div>
</body>

</html>