<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <div class="box">
        <form action="/signup" method="post">
            <h2>SIGN UP</h2>
            <div class="inputBox">
                <input type="text" required="required" name="name">
                <span>Userame</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email" required="required" name="email">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="number" required="required" name="phone">
                <span>Phone</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/">Login</a>
            </div>
            <input type="submit" />
        </form>
    </div>
</body>

</html>